<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22388965977-mt6joushfkt1jpni8e7he6gg799f2imv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22388965977-mt6joushfkt1jpni8e7he6gg799f2imv</string>
	<key>API_KEY</key>
	<string>AIzaSyDolxsjl7C_fw27NWxfKR6f2DuPBVk9t9w</string>
	<key>GCM_SENDER_ID</key>
	<string>22388965977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codermine.Chat</string>
	<key>PROJECT_ID</key>
	<string>chatios-68e04</string>
	<key>STORAGE_BUCKET</key>
	<string>chatios-68e04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22388965977:ios:f676357d1276b365c92748</string>
	<key>DATABASE_URL</key>
	<string>https://chatios-68e04.firebaseio.com</string>
</dict>
</plist>